@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
font-family: 'Itim', cursive;
}

.css-adaptive {
display: block;
max-width: 80%;
height: auto;
}

/* Нахер ваш ебучий CSS! */
